html, body {
  font-family: $font-primary;
  background: #ffffff;
}

@import 'form';
.btn-reject {
  background: $color-danger;
  color: #ffffff;
  @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
  text-transform: capitalize;
  &:hover, &:focus {
    background: $color-danger;
    color: #ffffff;
  }
}
.btn-accept {
  background: $color3;
  color: #ffffff;
  @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
  text-transform: capitalize;
  &:hover, &:focus {
    background: $color3;
    color: #ffffff;
  }
}

.card-verify-email {
  margin-top: 8em;
  .card-icon-verify {
    font-size: 52px;
    .failed { color: #f42e2e; }
    .success { color: #4fc08d; }
  }
  .card-congrats-verify {
    @include fontsetting( $font-primary, 24px, 400, normal, normal, 0.4px );
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
  }
}

/* modal */
.modal-login {
  .modal-login-title {
    @include fontsetting( $font-primary, 28px, 600, normal, normal, 0.4px );
    text-align: center;
  }
  .modal-btn-tab {
    @include fontsetting( $font-primary, 12px, 400, normal, normal, 0.4px );
    text-transform: capitalize;
    background: #f2f2f2;
    color: #777777;
    border-radius: 30px;
    &:hover {
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
  }
  .modal-btn-tabactive {
    background: $color3;
    color: #ffffff;
  }
  .modal-form-mustcomplete {
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    color: #333333;
  }
  .modal-login-form {
    .modal-login-label {
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      color: #333333;
    }
    .modal-login-input {
      border-radius: 4px;
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      color: #666666;
      &:hover, &:focus { border: 1px solid $color3; }
    }
    .modal-login-submit {
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      text-transform: capitalize;
      background: $color3;
      color: #ffffff;
      border-radius: 4px;
    }
  }
}

.modal-form {
  .modal-form-heading {
    @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
    color: #333333;
  }
  .modal-label {
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    color: #333333;
  }
  .modal-input {
    border-radius: 4px;
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    color: #666666;
    &:hover, &:focus { border: 1px solid $color3; }
  }
  .modal-submit, .modal-form-add {
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    text-transform: capitalize;
    background: #ffffff;
    color: $color3;
    border: 1px solid $color3;
    border-radius: 4px;
    &:hover {
      background: $color3;
      color: #ffffff;
    }
  }
  .modal-form-cancel {
    border: 1px solid $color-danger;
    color: #e02c2c;
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    text-transform: capitalize;
    background: #ffffff;
    border-radius: 4px;
    &:hover {
      background: #e02c2c;
      color: #ffffff;
    }
  }
  .modal-table-active {
    background: $color1;
    color: #ffffff;
  }
}
/* modal */

/* Layout */
.signup-box, .signin-box {
  border: 1px solid #e9e9e9;
  box-shadow: none;
  background: #ffffff;
  .signup-box-title, .signin-box-title {
    @include fontsetting( $font-primary, 20px, 600, normal, normal, 0.4px );
    color: #666666;
    text-align: center;
  }
  .signup-form, .signin-form {
    @include signupbox_form();
  }
}
.signup-box-signin, .signin-box-signup {
  @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
  color: #666666;
  text-align: center;
  a {
    text-decoration: none;
    color: $color3;
  }
}
// banner homepage
.banner-homepage {
  .banner-overlay-hmpg {}
  .banner-search {
    color: #efefef;
    .banner-search-card {
      width: 768px;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      .search-input {
        border-radius: 4px;
        @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
        &:hover, &:focus {
          border: 1px solid #ffffff;
        }
      }
      .banner-search-navbottom {
        z-index: 9999;
        a {
          color: #ffffff;
          @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
        }
        .banner-filter-dropdown {
          z-index: 9999;
        }
        .banner-search-navdropdown {
          z-index: 9999;
          padding: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          border-radius: 4px;
          ul {
            li {
              a {
                padding-left: 15px;
                color: #333333;
                @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
                &:hover {
                  background: #e9e9e9;
                }
              }
            }
          }
        }
      }
    }
    .learnmore {
      background: $color2;
      color: #efefef;
      @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
      padding: 6px 20px;
      text-transform: capitalize;
      border-radius: 4px;
    }
  }
}

// what is maps
.whatis-maps {
  margin-top: 10px;
  background: #f9f9f9;
  color: #666666;
  border-radius: 0 0 25% 25%;
  .maps-logo {}
  .maps-summary {
    @include fontsetting( $font-primary, 28px, 300, normal, normal, 0.4px );
    text-align: center;
    strong {
      color: $color3;
      font-weight: 600 !important;
    }
  }
}

// homepage list project
.hmpg-listproject {
  .hmpg-listproject-heading {
    @include fontsetting( $font-primary, 28px, 600, normal, normal, 0.4px );
    color: #666666;
  }
  .browse_project_btn {
    background: $color3;
    color: #ffffff;
    @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
    text-transform: capitalize;
    border-radius: 4px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
  }
  .hmpg-slider-project { min-height: 300px; }
  .hmpg-avail-project {
    border: 1px solid #f2f2f2;
    box-shadow: none;
    .hmpg-card-noimage {
      color: #333333;
      height: 250px;
    }
    .hmpg-card-withimage { height: 250px; }
    .hmpg-card-overlay {
      @include fontsetting( $font-secondary, 20px, 400, normal, normal, 0.4px );
      color: #ffffff;
    }
    .hmpg-card-title {
      @include fontsetting( $font-primary, 20px, 600, normal, normal, 0.4px );
      color: $color3;
      text-decoration: none;
    }
    .hmpg-card-meta {
      @include fontsetting( $font-primary, 11px, 400, normal, normal, 0.4px );
      color: #777777;
    }
    .hmpg-card-content {
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      color: #555555;
    }
  }
}

// footer
.footer {
  background: $color3;
  .footer-top {
    padding-bottom: 20px;
    .footer-nav {
      a {
        @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
        color: #ffffff;
        margin-right: 10px;
        text-decoration: none;
      }
    }
    .footer-nav-socialmedia {
      a {
        color: #ffffff;
        margin-right: 20px;
      }
    }
  }
  .footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
  }
}

.side-content-profile {
  .side-content-profile-heading {
    @include fontsetting( $font-primary, 22px, 600, normal, normal, 0.4px );
    color: #666666;
  }
}

.dashboard-container {
  height: 474px;
  .dashboard-content {
    .dashboard-content-heading {
      @include fontsetting( $font-primary, 26px, 600, normal, normal, 0.4px );
      color: #666666;
    }
    .dashboard-content-subheading {
      @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
      color: #666666;
    }
    .dash-btn {
      background: #ffffff;
      border: 1px solid $color3;
      color: $color3;
      @include fontsetting( $font-primary, 12px, 600, normal, normal, 0.4px );
      border-radius: 4px;
      text-transform: capitalize;
      &:hover { background: $color3; color: #ffffff; }
    }
    .dash-btn-action {
      border-radius: 0 !important;
      border: none !important;
      color: #666666;
      font-size: 24px !important;
      &:hover { background: none !important; color: $color3; }
    }
    .dash-btn-cancel {
      border: 1px solid #e02c2c;
      color: #e02c2c;
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      text-transform: capitalize;
      background: #ffffff;
      border-radius: 4px;
      &:hover {
        background: #e02c2c;
        color: #ffffff;
      }
    }
    .dash-form-input {
      border-radius: 4px;
      @include fontsetting( $font-primary, 12px, 600, normal, normal, 0.4px );
      color: #666666;
      &:hover, &:focus {
        color: $color3;
        border: 1px solid $color3;
      }
    }
    .dash-grid-box {
      .grid-image {
        background: $color3;
        color: #ffffff;
        height: 200px;
      }
      .grid-badge {
        padding: 10px;
        .uk-label {
          background: #ffffff;
          color: $color3;
          border-radius: 10px;
          text-transform: capitalize;
          @include fontsetting( $font-secondary, 13px, 600, normal, normal, 0.4px );
        }
      }
      .grid-box-title {
        color: #666666;
        @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
        &:hover { color: $color3; }
      }
      .grid-box-lead {
        color: #999999;
        @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      }
      .grid-upload-gallery {
        background: #f9f9f9;
      }
      .grid-overlay-icon {
        color: #ffffff;
        font-size: 28px;
        background: none;
      }
      .grid-box-footer {
        .grid-dropdown-nav {
          padding: 0;
          ul {
            li {
              a {
                color: #666666;
                @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
                padding: 14px 20px;
                &:hover {
                  color: #ffffff;
                  background: $color3;
                }
              }
            }
          }
        }
      }
    }
    .card-overview-primary {
      .card-overview-header {
        background: $color3;
        border: 0;
      }
      .card-overview-value {
        color: #ffffff;
        @include fontsetting( $font-primary, 48px, 700, normal, normal, 0.4px );
        text-align: center;
      }
      .card-overview-text {
        color: #ffffff;
        @include fontsetting( $font-primary, 24px, 400, normal, normal, 0.4px );
        text-align: center;
      }
      border-radius: 4px;
    }
    .card-overview-default {
      background: $color3;
      .card-overview-header {
        background: #ffffff;
        border: 0;
      }
      .card-overview-value {
        color: #ffffff;
        @include fontsetting( $font-primary, 48px, 700, normal, normal, 0.4px );
        text-align: center;
      }
      .card-overview-text {
        color: #ffffff;
        @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
        text-align: center;
      }
      border-radius: 4px;
    }
    .card-latest-data {
      .grid-latest-title {
        color: #333333;
        @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
        text-decoration: none;
        &:hover, &:focus { color: $color3; }
      }
    }
  }
}

.sidebar-dev-info {
  .sidebar-dev-logo {}
  .sidebar-dev-heading {
    text-align: center;
    color: #333333;
    @include fontsetting( $font-primary, 1.2rem, 600, normal, normal, 0.4px );
  }
  .sidebar-dev-profile {
    text-align: center;
    .dev-profile-name {
      color: #333333;
      @include fontsetting( $font-primary, 1.3rem, 600, normal, normal, 0.4px );
      text-decoration: none;
      &:hover { color: $color3; }
    }
    .dev-profile-region {
      color: #888888;
      @include fontsetting( $font-primary, .7rem, 400, normal, normal, 0.4px );
    }
    .dev-profile-biography {
      color: #888888;
      @include fontsetting( $font-primary, .7rem, 400, normal, normal, 0.4px );
    }
  }
  .sidebar-viewproject {
    background: #ffffff;
    border: 1px solid $color3;
    color: $color3;
    border-radius: 4px;
    text-transform: capitalize;
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    &:hover {
      background: $color3;
      color: #ffffff;
    }
  }
  .form-booking-unit {
    border-radius: 4px;
    @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
    color: #333333;
    &:hover, &:focus {
      color: #333333;
      border: 1px solid $color3;
    }
  }
  .btn-booking-unit {
    border: 1px solid $color3;
    background: #ffffff;
    color: $color3;
    border-radius: 4px;
    text-transform: capitalize;
    @include fontsetting( $font-primary, 16px, 600, normal, normal, 0.4px );
    &:hover {
      background: $color3;
      color: #ffffff;
    }
  }
  .btn-login {
    background: $color3;
    color: #ffffff;
    border-radius: 4px;
    text-transform: capitalize;
    @include fontsetting( $font-primary, 16px, 600, normal, normal, 0.4px );
    &:hover {
      background: $color3;
      color: #ffffff;
    }
  }
}
.card-projectinfo {
  border-radius: 10px;
  .card-projectinfo-statusproject {
    @include fontsetting( $font-primary, 13px, 600, normal, normal, 0.4px );
    color: #333333;
    span {
      padding: 6px 10px;
      border-radius: 30px;
    }
    .available {
      background: $color3;
      color: #ffffff !important;
    }
    .sold {
      background: $color-danger;
      color: #ffffff !important;
    }
    .commingsoon {
      background: $color-warning;
      color: #ffffff !important;
    }
  }
  .card-projectinfo-name {
    margin-top: 0;
    @include fontsetting( $font-primary, 42px, 700, normal, normal, 0.4px );
    color: $color2;
  }
  .card-projectinfo-devname {
    @include fontsetting( $font-primary, 20px, 400, normal, normal, 0.4px );
    color: $color3;
  }
  .card-projectinfo-body {
    border-top: 1px solid #dddddd;
    .card-projectinfo-location {
      @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
      color: #333333;
    }
    .card-projectinfo-projecttype,
    .card-projectinfo-price,
    .card-projectinfo-launch {
      @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
      color: #333333;
      span {
        font-size: 20px !important;
        font-weight: 600 !important;
      }
    }
  }
}
.container-projectinfo {
  .container-projectheading {
    @include fontsetting( $font-primary, 32px, 700, normal, normal, 0.4px );
    color: $color3;
  }
  .container-projectlead {
    @include fontsetting( $font-primary, 22px, 700, normal, normal, 0.4px );
    color: #333333;
  }
  .container-projectsublead {
    @include fontsetting( $font-primary, 18px, 400, normal, normal, 0.4px );
    color: #333333;
  }
  .container-projectbody {
    .content-projectdetail {
      .content-projectheading {
        @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
        color: #333333;
      }
      .content-projectlead {
        @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
        color: #555555;
      }
      .content-projectform {
        @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
        color: #555555;
        border-radius: 4px;
        &:hover, &:focus { border: 1px solid $color3; }
      }
      .content-viewbutton {
        background: $color3;
        color: #ffffff;
        border-radius: 4px;
        @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
        text-transform: capitalize;
      }
    }
  }
}

.card-unit-project {
  .unit-thumbnail { min-height: 200px; }
  .card-unit-body {
    border-radius: 10px;
    .unit-status {
      @include fontsetting( $font-primary, 10px, 600, normal, normal, 0.4px );
      padding: 3px;
      border-radius: 4px;
      text-align: center;
    }
    .unit-status-available {
      background: $color3;
      color: #ffffff;
    }
    .unit-status-sold {
      background: $color-danger;
      color: #ffffff;
    }
    .unit-status-booked {
      background: $color-warning;
      color: #ffffff;
    }
    .unit-name {
      @include fontsetting( $font-primary, 22px, 700, normal, normal, 0.4px );
      color: $color3;
      text-decoration: none;
    }
    .unit-location {
      @include fontsetting( $font-primary, 13px, 600, normal, normal, 0.4px );
      color: #333333;
    }
    .unit-price {
      @include fontsetting( $font-primary, 22px, 600, normal, normal, 0.4px );
      color: #333333;
    }
    .unit-body {
      .unit-body-heading {
        @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
        color: #333333;
      }
      .unit-body-content {
        @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
        color: #666666;
      }
    }
    .card-unit-setting-icon {
      &:hover, &:focus {
        color: $color3;
      }
    }
    .card-unit-setting-dropdown {
      border-radius: 4px;
      ul {
        li {
          a {
            @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
            color: #333333;
            &:hover, &:focus {
              color: $color3;
            }
          }
        }
      }
    }
    .btn-approve {
      background: #ffffff;
      color: $color3;
      @include fontsetting( $font-primary, 13px, 600, normal, normal, 0.4px );
      border: 1px solid $color3;
      border-radius: 4px;
      text-transform: capitalize;
      &:hover, &:focus { background: $color3; color: #ffffff; }
    }
    .btn-reject {
      border: 1px solid #e02c2c;
      color: #e02c2c;
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      text-transform: capitalize;
      background: #ffffff;
      border-radius: 4px;
      &:hover {
        background: #e02c2c;
        color: #ffffff;
      }
    }
  }
  .card-unit-header {
    border: 0;
    .status-request, .status-review {
      @include fontsetting( $font-primary, 11px, 600, normal, normal, 0.4px );
      padding: 6px;
      border-radius: 4px;
      text-align: center;
    }
    .status-request-waiting-response, .status-review-waiting {
      background: $color-blue;
      color: #ffffff;
    }
    .status-request-meeting {
      background: $color-warning;
      color: #ffffff;
    }
    .status-request-meeting-done,
    .status-review-accept,
    .status-request-accept {
      background: $color3;
      color: #ffffff;
    }
    .status-request-cancel,
    .status-request-reject,
    .status-review-reject {
      background: $color-danger;
      color: #ffffff;
    }
  }
  .card-unit-footer {
    border: 0;
    .unit-specification {
      @include fontsetting( $font-primary, 16px, 600, normal, normal, 0.4px );
      color: #333333;
      span {
        font-size: 11px !important;
        color: #888888;
      }
    }
    .unit-readmore {
      background: #ffffff;
      color: $color3;
      @include fontsetting( $font-primary, 13px, 600, normal, normal, 0.4px );
      border: 1px solid $color3;
      border-radius: 4px;
      text-transform: capitalize;
      &:hover, &:focus { background: $color3; color: #ffffff; }
    }
    .btn-cancel-request {
      border: 1px solid #e02c2c;
      color: #e02c2c;
      @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      text-transform: capitalize;
      background: #ffffff;
      border-radius: 4px;
      &:hover {
        background: #e02c2c;
        color: #ffffff;
      }
    }
  }
}

.card-requestlist {
  .card-requestlist-heading {
    @include fontsetting( $font-primary, 22px, 600, normal, normal, 0.4px );
    color: #333333;
  }
  .card-requestlist-subtext {
    @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
    color: #666666;
  }
  .btn-status-request {
    background: #ffffff;
    color: $color3;
    @include fontsetting( $font-primary, 14px, 600, normal, normal, 0.4px );
    border: 1px solid $color3;
    border-radius: 20px;
    text-transform: capitalize;
    &:hover, &:focus { background: $color3; color: #ffffff; }
  }
  .btn-status-active {
    background: $color3;
    color: #ffffff;
  }
}

.navbar-detail-unit {
  background: #ffffff;
  .nav-unit-subtitle {
    @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
    color: #666666;
    text-align: left !important;
  }
  .nav-unit-item {
    @include fontsetting( $font-primary, 20px, 600, normal, normal, 0.4px );
    color: #333333;
    text-align: center;
  }
}
.navbar-menu-unit {
  background: $color3;
  ul {
    li {
      a {
        text-align: center;
        @include fontsetting( $font-primary, 24px, 400, normal, normal, 0.4px );
        color: #ffffff;
        text-transform: capitalize;
        &:hover, &:focus {
          color: #ffffff;
        }
      }
    }
  }
}

.container-bannersearch {
  background: rgba( 10, 10, 10, 0.7 );
  .bannersearch-heading {
    @include fontsetting( $font-primary, 28px, 700, normal, normal, 0.4px );
    color: #ffffff;
    text-align: center;
  }
  .bannersearch-form {
    .search-form {
      background: #ffffff;
      color: #333333;
      @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
      border-radius: 4px;
      &:hover, &:focus {
        border: 1px solid #dddddd;
      }
    }
    .search-button-form {
      background: $color3;
      color: #ffffff;
      @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
      border-radius: 4px;
      text-transform: capitalize;
      &:hover, &:focus {
        background: $color3;
        color: #ffffff;
      }
    }
  }
}

.grid-project-card {
  background: #ffffff;
  &:hover, &:focus {
    text-decoration: none;
  }
  .project-card-background {color: #ffffff;}
  .project-card-title {
    color: #ffffff;
    @include fontsetting( $font-primary, 24px, 600, normal, normal, 0.4px );
  }
  .project-card-devname {
    color: #ffffff;
    @include fontsetting( $font-primary, 16px, 400, normal, normal, 0.4px );
  }
  .project-card-location {
    color: #ffffff;
    @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
  }
  .project-card-body {
    .project-card-status {
      label {
        text-transform: capitalize;
        @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
      }
    }
    .project-card-list {
      .projectlist-text {
        color: #666666;
        @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
      }
      .projectlist-subtext {
        color: #333333;
        @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
      }
    }
  }
}
/* Layout */


.sidebar-filter {
  border-radius: 4px;
  .search-form-sidebar {
    background: #ffffff;
    color: #333333;
    @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
    border-radius: 4px;
    &:hover, &:focus {
      border: 1px solid #dddddd;
    }
  }
  .search-button-sidebar {
    background: $color3;
    color: #ffffff;
    @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
    border-radius: 4px;
    text-transform: capitalize;
    &:hover, &:focus {
      background: $color3;
      color: #ffffff;
    }
  }
}

.profile-developer-top {
  background: #f9f9f9;
  .profile-developer-name {
    .developer-logo {
      border-radius: 10px;
      background: #ffffff;
    }
    .developer-name {
      @include fontsetting( $font-primary, 28px, 700, normal, normal, 0.4px );
      color: #333333;
    }
  }
}
.navbar-developer-container {
  background: $color3;
  .navbar-developer-profile {
    ul {
      li {
        a {
          @include fontsetting( $font-primary, 18px, 600, normal, normal, 0.4px );
          color: #ffffff;
          text-transform: capitalize;
          text-align: center;
          &:hover, &:focus {
            background: #ffffff;
            color: $color3;
          }
        }
        .active {
          background: #ffffff;
          color: $color3;
        }
      }
    }
  }
}
