.main-header {
  background: #ffffff;
  .main-navbar {
    .navbar-logo {
      img {
        width: 75px;
        margin-top: 6px;
      }
    }
    .header-searchbar {
      width: 550px;
      border-radius: 20px;
      border: none;
      background: #f2f2f2;
      @include fontsetting( $font-primary, 13px, 700, normal, normal, 0.4px );
    }
    .main-nav {
      li {
        a {
          @include fontsetting( $font-primary, 13px, 700, normal, normal, 0.4px );
          text-transform: capitalize;
          color: #666666;
          &:hover {
            color: $color3;
          }
          span {
            transition: all 0.10s linear 0s;
            border-radius: 4px;
          }
        }
        .navlogin {
          span {
            border: 1px solid $color3;
            padding: 10px 30px;
            color: $color3;
          }
          &:hover {
            span {
              background: $color3;
              color: #ffffff;
              box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
            }
          }
        }
        .navjoin {
          span {
            background: $color3;
            padding: 10px 30px;
            color: #ffffff;
            box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
          }
        }
        .dropdown-main-navbar {
          padding: 0;
          margin: 0;
          ul {
            li {
              a {
                padding: 10px 15px;
                &:hover {
                  background: $color3;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.side-navbar {
  background: $color3;
  .side-nav {
    li {
      a {
        color: #ffffff;
        @include fontsetting( $font-primary, 14px, 400, normal, normal, 0.4px );
        transition: all 0.10s linear 0s;
        -moz-transition: all 0.10s linear 0s;
        -webkit-transition: all 0.10s linear 0s;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover { border-left: 2px solid #ffffff; }
      }
      .active { border-left: 2px solid #ffffff; }
      .side-nav-sub {
        li {
          a {
            color: #ffffff;
            @include fontsetting( $font-primary, 13px, 400, normal, normal, 0.4px );
            &:hover {
              border-left: 0 !important;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.side-navbar-profile {
  ul {
    li {
      a {
        color: #666666;
        @include fontsetting( $font-primary, 14px, 600, normal, normal, 0.4px );
        &:hover {
          border-left: 2px solid $color3;
          color: $color3;
        }
      }
      .navactive {
        border-left: 2px solid $color3;
        color: $color3;
      }
    }
  }
  .side-profile-info {
    .side-profile-photo {
      span, i {
        color: #333333; background: #f9f9f9; border-radius: 70px;
        padding: 40px;
       }
       img {}
    }
    .side-profile-joined {
      color: #666666;
      @include fontsetting( $font-primary, 14px, 600, normal, normal, 0.4px );
      text-align: center;
      .profile-joined-date { font-size: 12px !important; }
    }
  }
}
