.main-header {
  background: #ffffff;
  .main-navbar {
    .navbar-logo {
      img {
        width: 75px;
        margin-top: 6px;
      }
    }
    .main-nav {
      li {
        a {
          @include fontsetting( $font-primary, 13px, 700, normal, normal, 0.4px );
          text-transform: capitalize;
          color: #666666;
          &:hover {
            color: $color3;
          }
          span {
            transition: all 0.10s linear 0s;
            border-radius: 4px;
          }
        }
        .navlogin {
          span {
            border: 1px solid $color3;
            padding: 10px 30px;
            color: $color3;
          }
          &:hover {
            span {
              background: $color3;
              color: #ffffff;
              box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
            }
          }
        }
        .navjoin {
          span {
            background: $color3;
            padding: 10px 30px;
            color: #ffffff;
            box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
}

.side-navbar {
  background: $color3;
  .side-nav {
    border-top: 1px solid #efefef;
    li {
      a {
        color: #ffffff;
        @include fontsetting( $font-primary, 16px, 600, normal, normal, 0.4px );
      }
    }
  }
}
