
// Body
$body-bg: #efefef;

// Typography
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,600,700,900&display=swap');

$font-primary: "Lato", sans-serif;
$font-secondary: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color1: #00b7b8;
$color2: #07bec0;
$color3: #1fc8c9;
$color4: #aae5e6;
$color-danger: #e02c2c;
$color-warning: #fbad70;

@mixin fontsetting( $type, $size, $weight, $style, $stretch, $spacing ) {
  font-size: $size;
  font-style: $style;
  font-stretch: $stretch;
  font-family: $type;
  font-weight: $weight;
  letter-spacing: $spacing;
}
