@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap);@import url(https://fonts.googleapis.com/css?family=Nunito:300,600,700,900&display=swap);.main-header {
  background: #ffffff;
}

.main-header .main-navbar .navbar-logo img {
  width: 75px;
  margin-top: 6px;
}

.main-header .main-navbar .header-searchbar {
  width: 550px;
  border-radius: 20px;
  border: none;
  background: #f2f2f2;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.main-header .main-navbar .main-nav li a {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #666666;
}

.main-header .main-navbar .main-nav li a:hover {
  color: #1fc8c9;
}

.main-header .main-navbar .main-nav li a span {
  transition: all 0.1s linear 0s;
  border-radius: 4px;
}

.main-header .main-navbar .main-nav li .navlogin span {
  border: 1px solid #1fc8c9;
  padding: 10px 30px;
  color: #1fc8c9;
}

.main-header .main-navbar .main-nav li .navlogin:hover span {
  background: #1fc8c9;
  color: #ffffff;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.main-header .main-navbar .main-nav li .navjoin span {
  background: #1fc8c9;
  padding: 10px 30px;
  color: #ffffff;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.main-header .main-navbar .main-nav li .dropdown-main-navbar {
  padding: 0;
  margin: 0;
}

.main-header .main-navbar .main-nav li .dropdown-main-navbar ul li a {
  padding: 10px 15px;
}

.main-header .main-navbar .main-nav li .dropdown-main-navbar ul li a:hover {
  background: #1fc8c9;
  color: #ffffff;
}

.side-navbar {
  background: #1fc8c9;
}

.side-navbar .side-nav li a {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear 0s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-navbar .side-nav li a:hover {
  border-left: 2px solid #ffffff;
}

.side-navbar .side-nav li .active {
  border-left: 2px solid #ffffff;
}

.side-navbar .side-nav li .side-nav-sub li a {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.side-navbar .side-nav li .side-nav-sub li a:hover {
  border-left: 0 !important;
  color: #ffffff;
}

.side-navbar-profile ul li a {
  color: #666666;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.side-navbar-profile ul li a:hover {
  border-left: 2px solid #1fc8c9;
  color: #1fc8c9;
}

.side-navbar-profile ul li .navactive {
  border-left: 2px solid #1fc8c9;
  color: #1fc8c9;
}

.side-navbar-profile .side-profile-info .side-profile-photo span,
.side-navbar-profile .side-profile-info .side-profile-photo i {
  color: #333333;
  background: #f9f9f9;
  border-radius: 70px;
  padding: 40px;
}

.side-navbar-profile .side-profile-info .side-profile-joined {
  color: #666666;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: center;
}

.side-navbar-profile .side-profile-info .side-profile-joined .profile-joined-date {
  font-size: 12px !important;
}

html,
body {
  font-family: "Lato", sans-serif;
  background: #ffffff;
}

.content-form .content-form-label {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
}

.content-form .content-form-input {
  color: #666666;
  border-radius: 4px;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.content-form .content-form-input:hover,
.content-form .content-form-input:focus {
  border: 1px solid #1fc8c9;
  color: #1fc8c9;
}

.content-form .content-form-btn {
  border: 1px solid #1fc8c9;
  background: #ffffff;
  color: #1fc8c9;
  border-radius: 4px;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.content-form .content-form-btn:hover,
.content-form .content-form-btn:focus {
  background: #1fc8c9;
  color: #ffffff;
}

.content-form .content-upload-picture {
  background: #f9f9f9;
  text-align: center;
  border-radius: 4px;
}

/* modal */

.modal-login .modal-login-title {
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: center;
}

.modal-login .modal-btn-tab {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #f2f2f2;
  color: #777777;
  border-radius: 30px;
}

.modal-login .modal-btn-tab:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-login .modal-btn-tabactive {
  background: #1fc8c9;
  color: #ffffff;
}

.modal-login .modal-form-mustcomplete {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.modal-login .modal-login-form .modal-login-label {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.modal-login .modal-login-form .modal-login-input {
  border-radius: 4px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
}

.modal-login .modal-login-form .modal-login-input:hover,
.modal-login .modal-login-form .modal-login-input:focus {
  border: 1px solid #1fc8c9;
}

.modal-login .modal-login-form .modal-login-submit {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #1fc8c9;
  color: #ffffff;
  border-radius: 4px;
}

.modal-form .modal-form-heading {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.modal-form .modal-label {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.modal-form .modal-input {
  border-radius: 4px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
}

.modal-form .modal-input:hover,
.modal-form .modal-input:focus {
  border: 1px solid #1fc8c9;
}

.modal-form .modal-submit,
.modal-form .modal-form-add {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #ffffff;
  color: #1fc8c9;
  border: 1px solid #1fc8c9;
  border-radius: 4px;
}

.modal-form .modal-submit:hover,
.modal-form .modal-form-add:hover {
  background: #1fc8c9;
  color: #ffffff;
}

.modal-form .modal-form-cancel {
  border: 1px solid #e02c2c;
  color: #e02c2c;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #ffffff;
  border-radius: 4px;
}

.modal-form .modal-form-cancel:hover {
  background: #e02c2c;
  color: #ffffff;
}

.modal-form .modal-table-active {
  background: #00b7b8;
  color: #ffffff;
}

/* modal */

/* Layout */

.signup-box,
.signin-box {
  border: 1px solid #e9e9e9;
  box-shadow: none;
  background: #ffffff;
}

.signup-box .signup-box-title,
.signup-box .signin-box-title,
.signin-box .signup-box-title,
.signin-box .signin-box-title {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #666666;
  text-align: center;
}

.signup-box .signup-form .signup-btn-tab,
.signup-box .signup-form .signin-btn-tab,
.signup-box .signin-form .signup-btn-tab,
.signup-box .signin-form .signin-btn-tab,
.signin-box .signup-form .signup-btn-tab,
.signin-box .signup-form .signin-btn-tab,
.signin-box .signin-form .signup-btn-tab,
.signin-box .signin-form .signin-btn-tab {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #f2f2f2;
  color: #777777;
  border-radius: 30px;
}

.signup-box .signup-form .signup-btn-tab:hover,
.signup-box .signup-form .signin-btn-tab:hover,
.signup-box .signin-form .signup-btn-tab:hover,
.signup-box .signin-form .signin-btn-tab:hover,
.signin-box .signup-form .signup-btn-tab:hover,
.signin-box .signup-form .signin-btn-tab:hover,
.signin-box .signin-form .signup-btn-tab:hover,
.signin-box .signin-form .signin-btn-tab:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-box .signup-form .signup-btn-tabactive,
.signup-box .signup-form .signin-btn-tabactive,
.signup-box .signin-form .signup-btn-tabactive,
.signup-box .signin-form .signin-btn-tabactive,
.signin-box .signup-form .signup-btn-tabactive,
.signin-box .signup-form .signin-btn-tabactive,
.signin-box .signin-form .signup-btn-tabactive,
.signin-box .signin-form .signin-btn-tabactive {
  background: #1fc8c9;
  color: #ffffff;
}

.signup-box .signup-form .signup-form-mustcomplete,
.signup-box .signin-form .signup-form-mustcomplete,
.signin-box .signup-form .signup-form-mustcomplete,
.signin-box .signin-form .signup-form-mustcomplete {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.signup-box .signup-form .signup-form-label,
.signup-box .signup-form .signin-form-label,
.signup-box .signin-form .signup-form-label,
.signup-box .signin-form .signin-form-label,
.signin-box .signup-form .signup-form-label,
.signin-box .signup-form .signin-form-label,
.signin-box .signin-form .signup-form-label,
.signin-box .signin-form .signin-form-label {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.signup-box .signup-form .signup-form-input,
.signup-box .signup-form .signin-form-input,
.signup-box .signin-form .signup-form-input,
.signup-box .signin-form .signin-form-input,
.signin-box .signup-form .signup-form-input,
.signin-box .signup-form .signin-form-input,
.signin-box .signin-form .signup-form-input,
.signin-box .signin-form .signin-form-input {
  border-radius: 4px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
}

.signup-box .signup-form .signup-form-input:hover,
.signup-box .signup-form .signup-form-input:focus,
.signup-box .signup-form .signin-form-input:hover,
.signup-box .signup-form .signin-form-input:focus,
.signup-box .signin-form .signup-form-input:hover,
.signup-box .signin-form .signup-form-input:focus,
.signup-box .signin-form .signin-form-input:hover,
.signup-box .signin-form .signin-form-input:focus,
.signin-box .signup-form .signup-form-input:hover,
.signin-box .signup-form .signup-form-input:focus,
.signin-box .signup-form .signin-form-input:hover,
.signin-box .signup-form .signin-form-input:focus,
.signin-box .signin-form .signup-form-input:hover,
.signin-box .signin-form .signup-form-input:focus,
.signin-box .signin-form .signin-form-input:hover,
.signin-box .signin-form .signin-form-input:focus {
  border: 1px solid #1fc8c9;
}

.signup-box .signup-form .signup-form-submit,
.signup-box .signup-form .signin-form-submit,
.signup-box .signin-form .signup-form-submit,
.signup-box .signin-form .signin-form-submit,
.signin-box .signup-form .signup-form-submit,
.signin-box .signup-form .signin-form-submit,
.signin-box .signin-form .signup-form-submit,
.signin-box .signin-form .signin-form-submit {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #1fc8c9;
  color: #ffffff;
  border-radius: 4px;
}

.signup-box-signin,
.signin-box-signup {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
  text-align: center;
}

.signup-box-signin a,
.signin-box-signup a {
  text-decoration: none;
  color: #1fc8c9;
}

.banner-homepage .banner-content {
  font-size: 48px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #efefef;
}

.banner-homepage .banner-content strong {
  font-weight: 600 !important;
}

.banner-homepage .banner-content .learnmore {
  background: #07bec0;
  color: #efefef;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding: 6px 20px;
  text-transform: capitalize;
  border-radius: 4px;
}

.whatis-maps {
  background: #f9f9f9;
  color: #666666;
  border-radius: 0 0 25% 25%;
}

.whatis-maps .maps-summary {
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
}

.whatis-maps .maps-summary strong {
  color: #1fc8c9;
  font-weight: 600 !important;
}

.hmpg-listproject .hmpg-listproject-heading {
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #666666;
  text-align: center;
}

.hmpg-listproject .browse_project_btn {
  background: #1fc8c9;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.hmpg-listproject .hmpg-slider-project {
  min-height: 300px;
}

.hmpg-listproject .hmpg-avail-project {
  border: 1px solid #f2f2f2;
  box-shadow: none;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-noimage {
  color: #333333;
  height: 250px;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-withimage {
  height: 250px;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-overlay {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-title {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #1fc8c9;
  text-decoration: none;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-meta {
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #777777;
}

.hmpg-listproject .hmpg-avail-project .hmpg-card-content {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #555555;
}

.footer {
  background: #1fc8c9;
}

.footer .footer-top {
  padding-bottom: 20px;
}

.footer .footer-top .footer-nav a {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}

.footer .footer-top .footer-nav-socialmedia a {
  color: #ffffff;
  margin-right: 20px;
}

.footer .footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #ffffff;
  text-align: center;
  color: #ffffff;
}

.side-content-profile .side-content-profile-heading {
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #666666;
}

.dashboard-container {
  height: 474px;
}

.dashboard-container .dashboard-content .dashboard-content-heading {
  font-size: 26px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #666666;
}

.dashboard-container .dashboard-content .dashboard-content-subheading {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #666666;
}

.dashboard-container .dashboard-content .dash-btn {
  background: #ffffff;
  border: 1px solid #1fc8c9;
  color: #1fc8c9;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 4px;
  text-transform: capitalize;
}

.dashboard-container .dashboard-content .dash-btn:hover {
  background: #1fc8c9;
  color: #ffffff;
}

.dashboard-container .dashboard-content .dash-btn-action {
  border-radius: 0 !important;
  border: none !important;
  color: #666666;
  font-size: 24px !important;
}

.dashboard-container .dashboard-content .dash-btn-action:hover {
  background: none !important;
  color: #1fc8c9;
}

.dashboard-container .dashboard-content .dash-btn-cancel {
  border: 1px solid #e02c2c;
  color: #e02c2c;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  background: #ffffff;
  border-radius: 4px;
}

.dashboard-container .dashboard-content .dash-btn-cancel:hover {
  background: #e02c2c;
  color: #ffffff;
}

.dashboard-container .dashboard-content .dash-form-input {
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #666666;
}

.dashboard-container .dashboard-content .dash-form-input:hover,
.dashboard-container .dashboard-content .dash-form-input:focus {
  color: #1fc8c9;
  border: 1px solid #1fc8c9;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-image {
  background: #1fc8c9;
  color: #ffffff;
  height: 200px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-badge {
  padding: 10px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-badge .uk-label {
  background: #ffffff;
  color: #1fc8c9;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-title {
  color: #666666;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-title:hover {
  color: #1fc8c9;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-lead {
  color: #999999;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-upload-gallery {
  background: #f9f9f9;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-overlay-icon {
  color: #ffffff;
  font-size: 28px;
  background: none;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-footer .grid-dropdown-nav {
  padding: 0;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-footer .grid-dropdown-nav ul li a {
  color: #666666;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding: 14px 20px;
}

.dashboard-container .dashboard-content .dash-grid-box .grid-box-footer .grid-dropdown-nav ul li a:hover {
  color: #ffffff;
  background: #1fc8c9;
}

.sidebar-dev-info .sidebar-dev-heading {
  text-align: center;
  color: #333333;
  font-size: 1.2rem;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.sidebar-dev-info .sidebar-dev-profile {
  text-align: center;
}

.sidebar-dev-info .sidebar-dev-profile .dev-profile-name {
  color: #333333;
  font-size: 1.3rem;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.sidebar-dev-info .sidebar-dev-profile .dev-profile-name:hover {
  color: #1fc8c9;
}

.sidebar-dev-info .sidebar-dev-profile .dev-profile-region {
  color: #888888;
  font-size: 0.7rem;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.sidebar-dev-info .sidebar-dev-profile .dev-profile-biography {
  color: #888888;
  font-size: 0.7rem;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.sidebar-dev-info .sidebar-viewproject {
  background: #ffffff;
  border: 1px solid #1fc8c9;
  color: #1fc8c9;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.sidebar-dev-info .sidebar-viewproject:hover {
  background: #1fc8c9;
  color: #ffffff;
}

.sidebar-dev-info .btn-booking-unit {
  border: 1px solid #1fc8c9;
  background: #ffffff;
  color: #1fc8c9;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.sidebar-dev-info .btn-booking-unit:hover {
  background: #1fc8c9;
  color: #ffffff;
}

.card-projectinfo {
  border-radius: 10px;
}

.card-projectinfo .card-projectinfo-statusproject {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-projectinfo .card-projectinfo-statusproject span {
  padding: 6px 10px;
  border-radius: 30px;
}

.card-projectinfo .card-projectinfo-statusproject .available {
  background: #1fc8c9;
  color: #ffffff !important;
}

.card-projectinfo .card-projectinfo-statusproject .sold {
  background: #e02c2c;
  color: #ffffff !important;
}

.card-projectinfo .card-projectinfo-statusproject .commingsoon {
  background: #fbad70;
  color: #ffffff !important;
}

.card-projectinfo .card-projectinfo-name {
  margin-top: 0;
  font-size: 42px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #07bec0;
}

.card-projectinfo .card-projectinfo-devname {
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #1fc8c9;
}

.card-projectinfo .card-projectinfo-body {
  border-top: 1px solid #dddddd;
}

.card-projectinfo .card-projectinfo-body .card-projectinfo-location {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-projectinfo .card-projectinfo-body .card-projectinfo-projecttype,
.card-projectinfo .card-projectinfo-body .card-projectinfo-price,
.card-projectinfo .card-projectinfo-body .card-projectinfo-launch {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-projectinfo .card-projectinfo-body .card-projectinfo-projecttype span,
.card-projectinfo .card-projectinfo-body .card-projectinfo-price span,
.card-projectinfo .card-projectinfo-body .card-projectinfo-launch span {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.container-projectinfo .container-projectheading {
  border-bottom: 1px solid #e9e9e9;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.container-projectinfo .container-projectbody .content-projectdetail .content-projectheading {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.container-projectinfo .container-projectbody .content-projectdetail .content-projectlead {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #555555;
}

.container-projectinfo .container-projectbody .content-projectdetail .content-projectform {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #555555;
  border-radius: 4px;
}

.container-projectinfo .container-projectbody .content-projectdetail .content-projectform:hover,
.container-projectinfo .container-projectbody .content-projectdetail .content-projectform:focus {
  border: 1px solid #1fc8c9;
}

.container-projectinfo .container-projectbody .content-projectdetail .content-viewbutton {
  background: #1fc8c9;
  color: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.card-unit-project .unit-thumbnail {
  min-height: 200px;
}

.card-unit-project .card-unit-body .unit-name {
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #1fc8c9;
  text-decoration: none;
}

.card-unit-project .card-unit-body .unit-location {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-unit-project .card-unit-body .unit-price {
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-unit-project .card-unit-footer {
  border: 0;
}

.card-unit-project .card-unit-footer .unit-specification {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #333333;
}

.card-unit-project .card-unit-footer .unit-specification span {
  font-size: 11px !important;
  color: #888888;
}

.card-unit-project .card-unit-footer .unit-readmore {
  background: #ffffff;
  color: #1fc8c9;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 1px solid #1fc8c9;
  border-radius: 4px;
  text-transform: capitalize;
}

.card-unit-project .card-unit-footer .unit-readmore:hover,
.card-unit-project .card-unit-footer .unit-readmore:focus {
  background: #1fc8c9;
  color: #ffffff;
}

/* Layout */

